.affiliation {
    position: absolute;
    right: 0;
    top: 0;
    background: var(--sub-level-3);
    border-radius: 0 var(--br-xl);
    padding: var(--spacing-xs);
    border-left: var(--bw) solid var(--main-level-1);
    border-bottom: var(--bw) solid var(--main-level-1);
    display: inline-flex;
    align-items: baseline;
    gap: var(--spacing-xs);
    line-height: 1;
    .version {
        font-family: "Courier New", Courier, monospace;
        font-size: var(--fs-sm);
    }
    .affiliation-link {
        a:hover {
            svg {
                fill: var(--sub-link);
            }
        }
    }
}
