.app-header {
    --tool-size: 65px;
    --max-tool: 4;
    --min-tool: 2;
    display: inline-grid;
    grid-template-columns:
        min-content
        minmax(245px, 1fr)
        minmax(calc(var(--tool-size) * var(--min-tool)), calc(var(--tool-size) * var(--max-tool)));
    margin-bottom: var(--spacing-sm);
    background-color: var(--main-level-3);
    padding-right: var(--spacing);
    border-radius: var(--br);
    box-shadow: var(--bs-block);
    overflow: hidden;
    .app-series {
        .series-option {
            border-right: var(--bw) solid var(--main-level-1);
            &.ant-radio-group-small .ant-radio-button-wrapper {
                width: 100%;
                height: unset;
                min-height: unset;
                line-height: 0;
                border: none;
                border-radius: none;
                &::before {
                    display: none;
                }
            }
            &.ant-radio-group.ant-radio-group-outline .ant-radio-button-wrapper:hover {
                background-color: var(--sub-primary);
            }
            &.ant-radio-group.ant-radio-group-outline .ant-radio-button-wrapper-checked {
                background-color: var(--main-primary);
            }
            img {
                margin: 0;
                max-height: 24px;
            }
        }
    }
    .app-tool {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--tool-size), 1fr));
    }
    .app-primary-header {
        display: inline-flex;
        flex-wrap: wrap;
        column-gap: var(--spacing-sm);
        row-gap: var(--spacing-sm);
        margin-bottom: var(--spacing-xxs);
        .ant-radio-button-wrapper {
            > span:nth-child(2) {
                font-size: 0.85em;
                letter-spacing: 0.02em;
            }
        }
        .bug-report {
            text-align: center;
            border: var(--bw) solid var(--sub-level-1);
            background-color: var(--main-level-4);
            border-radius: var(--br-lg);
            padding: 0 var(--spacing-xs);
            cursor: pointer;
            &:hover {
                background: var(--sub-danger);
            }
            a {
                display: block;
            }
        }
        .icon-button {
            border: var(--bw) solid var(--sub-level-1);
            padding: 0 var(--spacing-xs);
            box-shadow: none;
        }
    }
    .app-description {
        padding: 3px; // Alignment
        padding-left: var(--spacing);
        h1 {
            font-family: MatrixBoldSmallCaps;
            margin: 0;
            line-height: 1;
            font-size: var(--fs-2xl);
            letter-spacing: 1px;
            color: var(--color-heavy);
            text-shadow: -1px 1px 2px #1b1b1b;
            transform: translateY(2px); // Alignment
            small {
                font-size: var(--fs-xl);
            }
        }
        .app-logo {
            height: 20px;
            margin-left: -3px; // Alignment
            margin-right: 3px; // Alignment
        }
    }
    .app-contribution {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: var(--spacing-sm);
        font-size: var(--fs-sm);
        line-height: 1.25;
        b {
            font-size: var(--fs-sm);
        }
        > * {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            min-width: 0;
        }
        .template-creator {
            white-space: normal;
        }
    }
    .preset-manager-active,
    .manager-active {
        color: var(--main-online);
        .anticon {
            color: var(--main-online);
        }
    }
}

.affiliation {
    position: absolute;
    right: 0;
    top: 0;
    background: var(--sub-level-3);
    border-radius: 0 var(--br-xl);
    padding: var(--spacing-xs);
    border-left: var(--bw) solid var(--main-level-1);
    border-bottom: var(--bw) solid var(--main-level-1);
    display: inline-flex;
    align-items: baseline;
    gap: var(--spacing-xs);
    line-height: 1;
    .version {
        font-family: "Courier New", Courier, monospace;
        font-size: var(--fs-sm);
    }
    .affiliation-link {
        a:hover {
            svg {
                fill: var(--sub-link);
            }
        }
    }
}
