.app-header {
    display: inline-grid;
    grid-template-columns: max-content 1fr max-content;
    margin-bottom: var(--spacing-sm);
    background-color: var(--main-level-3);
    padding: 3px; // Alignment
    padding-right: var(--spacing);
    border-radius: var(--br);
    box-shadow: var(--bs-block);
    img {
        margin: 3px 0; // Alignment
    }
    .header-language {
        display: inline-grid;
        grid-template-columns: max-content 1fr max-content;
        column-gap: var(--spacing);
        margin-bottom: var(--spacing-xxs);
        .ant-radio-button-wrapper {
            > span:nth-child(2) {
                font-size: 0.85em;
                letter-spacing: 0.02em;
            }
        }
        .bug-report {
            text-align: center;
            border: var(--bw) solid var(--sub-level-1);
            background-color: var(--main-level-4);
            border-radius: var(--br-lg);
            padding: 0 var(--spacing-xs);
            cursor: pointer;
            &:hover {
                background: var(--sub-danger);
            }
            a {
                display: block;
            }
        }
    }
    .app-description {
        border-left: var(--bw) dashed #b1b1b1;
        padding-left: var(--spacing);
        margin-left: var(--spacing-xs);
        h1 {
            font-family: MatrixBoldSmallCaps;
            margin: 0;
            line-height: 1;
            font-size: var(--fs-2xl);
            letter-spacing: 1px;
            color: var(--color-heavy);
            text-shadow: -1px 1px 2px #1b1b1b;
            transform: translateY(2px); // Alignment
            small {
                font-size: var(--fs-xl);
            }
        }
        .app-contribution {
            display: grid;
            grid-template-columns: max-content 1fr;
            column-gap: var(--spacing-sm);
            font-size: var(--fs-sm);
            line-height: 1.25;
            b {
                font-size: var(--fs-sm);
            }
            a {
                color: var(--main-link);
                &:hover {
                    color: var(--sub-link);
                }
            }
            > * {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                min-width: 0;
            }
        }
    }
}

.affiliation {
    position: absolute;
    right: 0;
    top: 0;
    background: var(--sub-level-3);
    border-radius: 0 var(--br-xl);
    padding: var(--spacing-xs);
    border-left: var(--bw) solid var(--main-level-1);
    border-bottom: var(--bw) solid var(--main-level-1);
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: baseline;
    gap: var(--spacing-xs);
    line-height: 1;
    .version {
        font-family: "Courier New", Courier, monospace;
        font-size: var(--fs-sm);
    }
    .affiliation-link {
        a:hover {
            svg {
                fill: var(--sub-link);
            }
        }
    }
}

.explanation-overlay {
    .disclaimer {
        font-size: var(--fs);
        p {
            white-space: pre-line;
        }
        ul {
            padding-inline-start: var(--spacing-2xl);
            margin-block-end: 0;
            li {
                line-height: 1.5;
            }
        }
        :last-child {
            margin-bottom: 0;
        }
    }
}
