.controls-wrapper.gradient-picker-container {
    position: relative;
    .csh {
        margin-bottom: var(--spacing-sm);
    }
    .cs.active > div {
        box-shadow: 0 0 0 3px #ffffffaa;
    }
    .stop-color-picker-container {
        padding: var(--spacing);
    }
    .chrome-picker {
        input {
            background: var(--main-level-1);
        }
        svg {
            filter: invert(1);
        }
    }
    .gradient-angle-control {
        position: absolute;
        top: 61px; // Alignment with gradient color input
        padding: 0 var(--spacing-sm);
        margin-top: 5px; // Alignment with gradient color input
        h2 {
            padding: var(--spacing-sm) 0;
        }
    }
    .angle-picker-container {
        .ap {
            background-color: var(--color-heavy);
            .apc {
                width: 8px;
            }
            .aph {
                width: 8px;
                height: 8px;
            }
        }
        .ai {
            margin: 0;
            margin-top: var(--spacing-sm);
            background: var(--main-slider);
            justify-content: space-between;
            line-height: 1.4;
            span {
                background: var(--main-secondary);
                padding-left: var(--spacing);
                padding-right: var(--spacing);
                &:hover {
                    background: var(--sub-secondary);
                }
            }
            span,
            input {
                color: var(--color-heavy);
            }
        }
    }
    .stop-point-control-panel {
        color: var(--color-heavy);
        text-align: right;
        display: flex;
        flex-direction: column;
        align-self: end;
        .stop-point-offset-input {
            display: flex;
            justify-content: space-between;
            margin-bottom: var(--spacing-xs);
            color: var(--color-vendor);
            font-size: var(--fs-sm);
        }
        .ant-btn.remove-stop-color {
            font-size: var(--fs-sm);
            color: var(--color-heavy);
            background: var(--main-danger);
            border: var(--bw) solid var(--sub-danger);
            margin-left: var(--spacing-xs);
            &:enabled:hover {
                background-color: var(--sub-danger);
                box-shadow: none;
            }
        }
    }
    .ant-btn.add-stop-color {
        width: 100%;
        font-size: var(--fs-sm);
        color: var(--color-heavy);
        background: var(--main-tertiary);
        border: var(--bw) solid var(--sub-tertiary);
        margin: 3px 0; // Alignment
        &:hover {
            background-color: var(--sub-tertiary);
            box-shadow: none;
        }
    }
    .ant-btn-primary {
        width: 100%;
    }
}
