.formattting-guide-overlay {
    .ant-drawer-content-wrapper {
        min-width: 650px;
    }
    .overlay-title {
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);
    }
}
