.app-header {
    display: inline-grid;
    grid-template-columns: max-content 1fr;
    margin-bottom: 0.5rem;
    background-color: #4e4e53;
    padding: 3px;
    padding-right: 10px;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #212121;
    img {
        margin: 3px 0;
    }
    .app-description {
        border-left: 1px dashed #b1b1b1;
        padding-left: 10px;
        margin-left: 5px;
        h1 {
            font-family: MatrixBoldSmallCaps;
            margin: 0;
            line-height: 1;
            font-size: 25px;
            letter-spacing: 1px;
            color: #e6e6e6;
            text-shadow: -1px 1px 2px #1b1b1b;
            small {
                font-size: 20px;
            }
        }
        .app-contribution {
            display: grid;
            grid-template-columns: max-content 1fr;
            column-gap: 0.5rem;
            font-size: 11px;
            line-height: 1.25;
            b {
                font-size: 13px;
                color: #2badea;
            }
            > * {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                min-width: 0;
            }
        }
    }
}

.affiliation {
    position: absolute;
    right: 0;
    top: 0;
    background: #666677;
    border-radius: 0 8px;
    padding: 5px;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 5px;
    line-height: 1;
    .version {
        font-size: 0.9em;
        font-family: 'serif';
    }
    .affiliation-link {
        a:hover {
            svg {
                fill: #29ace5;
            }
        }
    }
}

.explanation-overlay {
	.disclaimer {
		font-size: 13px;
		line-height: 1.25;
		ul {
			padding-inline-start: 20px;
			margin-block-end: 0;
			li {
				line-height: 1.25;
			}
		}
        :last-child {
            margin-bottom: 0;
        }
	}
}
