.app-header {
    display: inline-grid;
    grid-template-columns: max-content 1fr;
    margin-bottom: 10px;
    background-color: #333333;
    padding: 4px 10px 4px 4px;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #212121 inset;
    img {
        padding: 3px;
    }
    .app-description {
        border-left: 1px dashed #b1b1b1;
        padding-left: 10px;
        margin-left: 5px;
        h1 {
            font-family: MatrixBoldSmallCaps;
            margin: 0;
            line-height: 1;
            font-size: 30px;
            color: #e6e6e6;
            text-shadow: -1px 1px 2px #1b1b1b;
            small {
                font-size: 20px;
            }
        }
        .app-contribution {
            display: grid;
            grid-template-columns: max-content 1fr max-content;
            column-gap: 10px;
            font-size: 12px;
            b {
                font-size: 15px;
                color: #2badea;
            }
            .disclaimer-icon {
                font-size: 15px;
                color: #e6e6e6;
                cursor: pointer;
            }
            > * {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                min-width: 0;
            }
        }
    }
}

.disclaimer-overlay {
    .ant-popover-inner {
        background-color: transparent;
    }
	.ant-popover-inner-content {
		padding: 5px;
		background-color: #464646;
		color: #ffffffcc;
		text-shadow: 0 1px #222;
        max-width: 500px;
        border-radius: 4px;
	}
    > .ant-popover-content > .ant-popover-arrow {
		border-top-color: #464646;
		border-left-color: #464646;
    }
	.disclaimer {
		font-size: 12px;
		line-height: 1.25;
		h2 {
			line-height: 1;
			font-size: 1.2em;
			color: #ffffffee;
		}
		ul {
			padding-inline-start: 20px;
			margin-block-end: 0;
			li {
				line-height: 1.25;
			}
		}
        :last-child {
            margin-bottom: 0;
        }
	}
}
