.style-picker {
    display: inline-flex;
    column-gap: var(--spacing-sm);
    line-height: 1.15;
    .disable-overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--main-disabled);
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}