.link-marker-container {
	position: relative;
	width: 100%;
	height: 100%;
	.link-marker-arrow {
		position: absolute;
		z-index: 2;
		&.arrow-1 {
			top: 126px;
			left: 46px;
			width: 50px;
			height: 51px;
		}
		&.arrow-2 {
			top: 116px;
			left: 226px;
			width: 99px;
			height: 32px;
		}
		&.arrow-3 {
			top: 126px;
			left: 453px;
			width: 51px;
			height: 51px;
		}
		&.arrow-4 {
			top: 305px;
			left: 35px;
			width: 33px;
			height: 99px;
		}
		&.arrow-6 {
			top: 305px;
			left: 482px;
			width: 32px;
			height: 99px;
		}
		&.arrow-7 {
			top: 534px;
			left: 46px;
			width: 50px;
			height: 50px;
		}
		&.arrow-8 {
			top: 562px;
			left: 226px;
			width: 99px;
			height: 33px;
		}
		&.arrow-9 {
			top: 534px;
			left: 453px;
			width: 51px;
			height: 50px;
		}
	}
	.link-overlay {
		position: absolute;
		top: 146px;
		left: 66px;
		width: 418px;
		height: 418px;
		z-index: 1;
	}
}

.link-marker-chooser {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 90px;
	height: 120px;
	.title {
		grid-column: span 3;
	}
	.link-marker-reset,
	.link-marker-button {
		border: 1px solid #d9d9d9;
		cursor: pointer;
		&:hover {
			border: 1px solid #40a9ff;
		}
	}
	.link-marker-reset {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.link-marker-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		.anticon {
			font-size: 20px;
		}
	}
	.marker-checked {
		color: #40a9ff;
	}
}