
@font-face {
    font-family: 'stone-serif-bold';
    src: url('./font/stone-serif-bold-webfont.woff2') format('woff2'),
         url('./font/stone-serif-bold-webfont.woff') format('woff');
	font-display: swap;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'stone-serif-regular';
    src: url('./font/stone-serif-regular-webfont.woff2') format('woff2'),
         url('./font/stone-serif-regular-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Yugioh Rush Duel Numbers V4';
    src: url('./font/YugiohRushDuelNumbersV4-Rg.woff2') format('woff2'),
        url('./font/YugiohRushDuelNumbersV4-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'palatino-linotype-bold';
    src: url('./font/palatino-linotype-bold-webfont.woff2') format('woff2'),
         url('./font/palatino-linotype-bold-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'MatrixBook';
	src: url('./font/Matrix Book.ttf');
	font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'matrix';
    src: url('./font/matrix.woff2') format('woff2'),
         url('./font/matrix.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MatrixBoldSmallCaps';
    src: url('./font/MatrixBoldSmallCaps.woff2') format('woff2'),
        url('./font/MatrixBoldSmallCaps.woff') format('woff');
	font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: MatrixRegularSmallCaps;
	src: url('./font/Yu-Gi-Oh Matrix Regular Small Caps 1.ttf');
	font-weight: 100;
    font-style: normal;
    font-display: swap;
}