.frame-info-block {
    display: inline-block;
    padding: 2px 5px;
    text-transform: capitalize;
    min-width: 100px;
    text-align: center;
    border: 1px solid #333333;
    border-radius: 4px;
    line-height: 1;
}