.controls-wrapper.gradient-picker-container {
    position: relative;
    .angle-picker-container {
        h2 {
            padding: 0;
        }
        .ap {
            background-color: #eeeeee;
            .apc {
                width: 8px;
            }
            .aph {
                width: 8px;
                height: 8px;
            }
        }
        .ai {
            margin: 0;
            background: #009ce0;
            justify-content: space-between;
            span {
                background: #307bc9;
                padding-left: 10px;
                padding-right: 10px;
                &:hover {
                    background: #0c8ac6;
                }
            }
            span, input {
                color: #ffffffcc;
            }
        }
    }
    .csh {
        margin-bottom: 5px;
    }
    .cs.active > div {
        box-shadow: 0 0 0px 3px #ffffffaa;
    }
    .stop-color-picker-container {
        padding: 10px;
    }
    .chrome-picker {
        input {
            background: #333333;
        }
        svg {
            filter: invert(1);
        }
    }
    .gradient-angle-control {
        position: absolute;
        top: 59px;
        padding: 10px;
        border-right: 2px solid #1890ff;
        h2 {
            padding: 0;
        }
    }
    .stop-point-control-panel {
        color: #ffffffcc;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-self: end;
        .stop-point-offset-input {
            margin-bottom: 5px;
        }
        .ant-btn.remove-stop-color {
            font-size: 12px;
            color: #ffffffcc;
            background: #c95e5e;
            border: 1px solid #e95e5e;
            margin-left: 5px;
            &:hover {
                background-color: #e95e5e;
                box-shadow: none;
            }
        }
    }
    .ant-btn.add-stop-color {
        font-size: 12px;
        color: #ffffffcc;
        background: #5e85c9;
        border: 1px solid #5e85e9;
        margin: 5px 0;
        &:hover {
            background-color: #5e85e9;
            box-shadow: none;
        }
    }
    .ant-btn-primary {
        width: 100%;
    }
}