.card-image-cropper {
    display: flex;
    flex-direction: column;
    grid-column-gap: 10px;
    row-gap: 10px;
	.download-button {
		margin-top: 5px;
		width: 100%;
	}
	.ant-radio-group {
		width: 100%;
	}
	.card-image-source-input {
		flex: 1;
		display: grid;
		grid-template-columns: 90px 1fr;
		column-gap: 10px;
		.ant-radio-button-wrapper {
			display: block;
			height: unset;
			padding: 10px;
			width: 100%;
		}
		.ant-radio-button-wrapper + .ant-radio-button-wrapper {
			margin-top: 10px
		}
		.ant-radio-button-wrapper-checked {
			background-color: #1890ff;
			color: white;
		}
	}
	.card-cropper {
		height: 300px;
	}
	.ReactCrop__image {
		max-width: 100%;
		max-height: 300px;
	}
}
