.card-image-cropper {
    display: flex;
    flex-direction: column;
    grid-column-gap: 10px;
    row-gap: 0.5em;
	/** Avoid flashing when switching mode **/
	.card-image-source-input-container {
		min-height: 115px;
	}
	.download-button {
		padding: 0;
		&:hover {
			color: #3b9dff;
		}
	}
	.card-image-source-input-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.ant-radio-group {
		.ant-input-group-addon {
			min-width: unset;
		}
	}
	.card-image-input {
		margin-top: 5px;
		&.input-inactive {
			display: none;
		}
	}
	.card-image-source-input {
		flex: 1;
		display: grid;
		grid-template-columns: max-content 1fr;
		column-gap: 10px;
		.card-image-source-input-title {
			grid-column: span 2;
		}
		input[type="file"] {
			cursor: pointer;
		}
	}
	.offline-image-warning {
		margin-top: 5px;
		color: #FF6F6F;
		line-height: 1.25;
	}
	.online-image-tip {
		margin-top: 5px;
		line-height: 1.25;
	}
	.card-cropper {
		height: 400px;
		position: relative;
	}
	.ReactCrop__image {
		max-width: 100%;
		max-height: 400px;
	}
	.ReactCrop {
		box-shadow: 0 1px 3px rgba(0,0,0,0.36), 0 1px 2px rgba(0,0,0,0.48);
	}
}
