.card-info-panel {
    .card-overlay-input {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: var(--spacing-sm);
        row-gap: var(--spacing-sm);
    }
    .foil-radio.radio-train {
        display: inline-flex;
    }
    .finish-checkbox {
        .checkbox-train-input-group {
            .ant-radio-button-wrapper {
                min-width: 32px; // Alignment
                padding: 0;
            }
        }
    }
    .card-layout-input {
        display: grid;
        grid-template-columns: var(--width-label) 1fr;
        margin-bottom: var(--spacing-sm);
        align-content: center;
        min-height: 32px; // Alignment
    }
    .extra-attribute-input {
        .radio-train-input-group {
            flex: 0 1 auto;
        }
    }
    .attribute-input {
        .ant-radio-button-wrapper {
            padding: 0 var(--spacing-xxs);
        }
    }
    .main-info {
        display: flex;
        align-items: flex-start;
        margin-top: var(--spacing-sm);
        column-gap: var(--spacing-sm);
        row-gap: var(--spacing-sm);
        .main-info-first {
            flex: 1;
            display: flex;
            flex-direction: column;
            row-gap: var(--spacing-sm);
            #card-effect {
                min-height: 13rem;
            }
        }
        .main-info-second {
            flex: 0 0 var(--cropper-width);
            text-align: center;
            .art-finish-checkbox {
                display: block;
                .standalone-addon.ant-input-group-addon {
                    width: unset;
                }
            }
        }
    }
    .text-style-input {
        width: 100%;
        position: relative;
        z-index: 3;
        min-height: 32px; // Alignment
        align-content: center;
        .ant-input-affix-wrapper {
            outline: none !important; // Avoid default state styling
            &:hover {
                border-color: var(--sub-level-1);
            }
        }
        .ant-radio-group {
            box-shadow: none;
            .ant-radio-wrapper {
                color: var(--color-heavy);
                &:hover .ant-radio-label {
                    color: var(--sub-active);
                }
            }
        }
    }
    .card-icon-dropdown {
        label {
            color: var(--color);
        }
        &:not(.disable) {
            cursor: pointer;
        }
        &:hover {
            color: var(--sub-active);
            .anticon {
                color: var(--sub-active);
            }
        }
        &.active {
            color: var(--main-active);
            .anticon {
                color: var(--main-active);
            }
            &:hover {
                color: var(--sub-active);
                .anticon {
                    color: var(--sub-active);
                }
            }
        }
    }
    .fill-input-train label:not(.standalone-addon) {
        flex: 1;
        span:nth-child(2) {
            width: 100%;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            img {
                width: 26px;
                height: 26px;
            }
        }
    }

    .ant-input-group-addon {
        min-width: var(--width-label);
        text-align: right;
    }
    .standalone-addon.ant-input-group-addon {
        display: inline-block;
        height: 32px;
        width: var(--width-label);
        line-height: 30px;
        position: relative;
    }
    .card-effect-letter-helper {
        display: grid;
        grid-template-columns: max-content max-content 1fr;
        align-items: center;
        padding-bottom: var(--spacing-sm);
    }
    .ant-checkbox-wrapper + .ant-checkbox-wrapper {
        margin-left: var(--spacing-xs);
    }
    .ant-checkbox-wrapper:last-child > span {
        padding-right: 0;
    }
    .checkbox-input {
        text-align: right;
    }
}

.pendulum-frame-picker-overlay {
    width: 613px; // Perfect fit
    .ant-popover-content .ant-popover-inner-content {
        border-radius: 2px;
        border: var(--bw) solid var(--sub-level-1);
    }
}

.global-style-picker-overlay {
    &.low-index {
        z-index: 1000;
    }
    hr {
        border-color: var(--sub-level-4);
    }
    .style-picker-mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .style-picker-auto {
        background-color: var(--main-level-3);
        text-align: left;
        padding: var(--spacing-xs);
        display: grid;
        grid-template-columns: 1fr min-content;
        position: relative;
        .style-picker-close {
            color: var(--main-danger);
            font-size: var(--fs-xl);
            cursor: pointer;
        }
    }
    .custom-style-text,
    .custom-style-shadow,
    .custom-style-line,
    .custom-style-gradient {
        position: relative;
    }
    .custom-style-text {
        overflow: hidden;
    }
    .custom-style-picker {
        background-color: var(--main-level-3);
        position: relative;
        border: var(--bw) solid var(--sub-level-1);
        border-radius: var(--br);
        min-width: 247px; /** To avoid text overflow in different language */
        h2,
        h3 {
            text-align: left;
            background-color: var(--main-level-3);
            margin: 0;
            padding: var(--spacing-sm) var(--spacing-xs);
            font-size: var(--fs);
            .ant-checkbox-wrapper {
                color: var(--color);
            }
        }
        h3 {
            padding: var(--spacing-xxs) var(--spacing-xs);
            background-color: var(--main-level-4);
            border-bottom: var(--bw) solid var(--sub-level-4);
            &.inactive,
            &:last-child {
                border-bottom-color: transparent;
            }
        }
        .compact-picker {
            color: var(--color-heavy);
            background-color: var(--main-level-3);
            .flexbox-fix {
                input {
                    color: var(--color-heavy) !important; // Override inline style
                }
            }
            > div > span > div {
                outline: var(--bw) solid var(--sub-level-4) !important; // Override inline style
            }
        }
        .shadow-position,
        .line-position {
            display: grid;
            grid-template-columns: max-content 1fr;
            column-gap: var(--spacing-sm);
            row-gap: var(--spacing-sm);
            font-size: var(--fs-sm);
            padding: 0 var(--spacing-sm);
            padding-bottom: var(--spacing-xs);
            > :first-child {
                &::before {
                    content: "";
                    width: 100%;
                    border-top: var(--bw) solid white;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    z-index: 1;
                }
                &::after {
                    content: "";
                    height: 100%;
                    border-left: var(--bw) solid white;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    z-index: 1;
                }
                > :last-child {
                    z-index: 2;
                }
            }
            .single-slider {
                display: grid;
                grid-template-columns: max-content 1fr;
                column-gap: var(--spacing-sm);
                align-items: center;
                color: var(--color);
                text-shadow: var(--ts);
                font-weight: 500;
                .ant-input-number {
                    width: 55px;
                }
                .ant-slider {
                    margin: var(--spacing-xxs);
                }
            }
        }
    }
}

div.chrome-picker {
    input {
        background: var(--main-level-1);
    }
    svg {
        filter: invert(1);
    }
    .flexbox-fix {
        column-gap: var(--spacing-xs);
        input {
            color: var(--color-heavy) !important; // Override inline style
            padding: 0 !important; // Override inline style
            width: 100% !important; // Override inline style
            transform: translateY(-1px);
            vertical-align: middle;
        }
        label {
            line-height: var(--spacing-xl);
            margin-top: var(--spacing-xs) !important; // Override inline style
        }
    }
}
