.card-info-panel {
    .card-overlay-input {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: var(--spacing-sm);
        row-gap: var(--spacing-sm);
    }
    .foil-radio.radio-train {
        display: inline-flex;
    }
    .card-opacity-input {
        display: grid;
        grid-template-columns: var(--width-label) 1fr;
        margin-bottom: var(--spacing-sm);
        .standalone-addon.ant-input-group-addon {
            height: 25px; // Alignment
            line-height: 20px;
        }
    }
    .main-info {
        display: flex;
        align-items: flex-start;
        margin-top: var(--spacing-sm);
        column-gap: var(--spacing-sm);
        row-gap: var(--spacing-sm);
        .main-info-first {
            flex: 1;
            display: flex;
            flex-direction: column;
            row-gap: var(--spacing-sm);
            #card-effect {
                min-height: 13rem;
            }
        }
        .main-info-second {
            flex: 0 0 375px;
            text-align: center;
        }
    }
    .name-color-input {
        width: 100%;
        position: relative;
        z-index: 3;
        .ant-input-affix-wrapper {
            outline: none !important;
            &:hover {
                border-color: var(--sub-level-1);
            }
        }
        .ant-radio-group {
            box-shadow: none;
            .ant-radio-wrapper {
                color: var(--color-heavy);
                &:hover .ant-radio-label {
                    color: var(--sub-active);
                }
            }
        }
    }
    .card-icon-dropdown {
        &:not(.disable) {
            cursor: pointer;
        }
        &:hover {
            color: var(--sub-active);
            .anticon {
                color: var(--sub-active);
            }
        }
        &.active {
            color: var(--main-active);
            .anticon {
                color: var(--main-active);
            }
            &:hover {
                color: var(--sub-active);
                .anticon {
                    color: var(--sub-active);
                }
            }
        }
    }
    .fill-input-train label {
        padding: 0 var(--spacing);
        flex: 1;
        span:nth-child(2) {
            width: 100%;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            img {
                width: 26px;
                height: 26px;
            }
        }
    }

    .ant-input-group-addon {
        min-width: var(--width-label);
        text-align: right;
    }
    .standalone-addon.ant-input-group-addon {
        display: inline-block;
        height: 32px;
        width: var(--width-label);
        line-height: 30px;
        position: relative;
    }
    .card-effect-letter-helper {
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: center;
    }
    .ant-checkbox-wrapper + .ant-checkbox-wrapper {
        margin-left: var(--spacing-xs);
    }
    .ant-checkbox-wrapper:last-child > span {
        padding-right: 0;
    }
    .checkbox-input {
        text-align: right;
    }
}
