.card-star {
	text-align: right;
	&.card-star-rank {
		text-align: left;
	}
	.card-star-icon {
		width: 34pt;
		height: 34pt;
		&.card-star-level:not(:first-child) {
			margin-left: 2.359pt;
		}
		&.card-star-rank:not(:last-child) {
			margin-right: 2.359pt;
		}
	}
}
.card-star-oversize {
	display: flex;
	justify-content: center;
	column-gap: 2.359pt;
	.card-star-icon {
		width: 34pt;
		height: 34pt;
	}
}

.card-st-subfamily {
	position: relative;
	width: 100%;
	> img {
		position: absolute;
	}
	> .card-st-subfamily-container {
		height: 26pt;
		right: 0;
	}
	> .card-st-subfamily-icon {
		width: 29pt;
		height: 30pt;
		top: -2pt;
		right: 10pt;
	}
}