.card-star {
	text-align: right;
	&.card-star-rank {
		text-align: left;
	}
	.card-star-icon {
		width: 34px;
		height: 34px;
		&.card-star-level:not(:first-child) {
			margin-left: 2.3636px;
		}
		&.card-star-rank:not(:last-child) {
			margin-right: 2.3636px;
		}
	}
}
.card-star-oversize {
	display: flex;
	justify-content: center;
	column-gap: 2.3636px;
}

.card-st-subfamily {
	position: relative;
	width: 100%;
	> img {
		position: absolute;
	}
	> .card-st-subfamily-container {
		height: 26px;
		right: 0;
	}
	> .card-st-subfamily-icon {
		width: 29px;
		height: 30px;
		top: -2px;
		right: 10px;
	}
}