.textbox-container {
	overflow: hidden;
	.textbox {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: justify;
		white-space: pre-wrap;
		&.vanilla {
			font-style: italic;
		}
	}
}
	
.textbox-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: justify;
	white-space: nowrap;
	&.textbox-footer {
		top: unset;
		font-style: normal;
	}
	&.textbox-title-right {
		text-align: right;
	}
	.hidden-pad {
		visibility: hidden;
	}
}

.measurer {
	display: inline-block;
	width: 0;
	height: 1px;
}

.resize-box {
	position: relative;
	.header,
	.body,
	.footer {
		text-align: justify;
		left: 0
	}
	.body {
		white-space: pre-wrap;
	}
}