.explanation-icon {
    font-size: var(--fs);
    color: var(--color-heavy);
    cursor: pointer;
}
.explanation-overlay {
    .ant-popover-inner {
        background-color: transparent;
    }
    .ant-popover-inner-content {
        padding: var(--spacing-xs);
        background-color: var(--main-level-3);
        color: var(--color-heavy);
        text-shadow: var(--ts);
        max-width: 550px;
        border-radius: var(--br-lg);
        border: var(--bw) solid var(--sub-level-1);
    }
}
