.explanation-icon {
    font-size: 15px;
    color: #e6e6e6;
    cursor: pointer;
}
.explanation-overlay {
    .ant-popover-inner {
        background-color: transparent;
    }
	.ant-popover-inner-content {
		padding: 5px;
		background-color: #464646;
		color: #ffffffcc;
		text-shadow: 0 1px #222;
        max-width: 550px;
        border-radius: 4px;
	}
    &.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow {
		border-top-color: #464646;
		border-left-color: #464646;
    }
    &.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow {
		border-right-color: #464646;
		border-bottom-color: #464646;
    }
}