.explanation-icon {
    font-size: 15px;
    color: #e6e6e6;
    cursor: pointer;
}
.explanation-overlay {
    .ant-popover-inner {
        background-color: transparent;
    }
	.ant-popover-inner-content {
		padding: 5px;
		background-color: #464646;
		color: #ffffffcc;
		text-shadow: 0 1px #222;
        max-width: 550px;
        border-radius: 4px;
        border: 1px solid #222;
	}
}