.type-ability-slash {
	display: inline-block;
	font-style: italic;
}
.normal-slash {
	font-size: 19.69pt;
	transform: translateY(-0.98pt);
}
.small-slash {
	font-size: 18.05pt;
	transform: translateY(-1.31pt);
}
.type-ability-bracket {
	display: inline-block;
}
.normal-bracket {
	font-size: 19.69pt;
	transform: translateY(-1.64pt);
}
.small-bracket {
	font-size: 18.7pt;
	transform: translateY(-1.64pt);
}
.normal-space {
	font-size: 13.13pt;
	letter-spacing: -0.075em;
}
.small-space {
	font-size: 8.51pt;
	letter-spacing: -0.075em;
}