.app-container {
	display: flex;
	column-gap: 10px;
	--zoom-ratio: 0.8;
	--translate-percent: -12.5%;
	&.app-container-export {
		flex-direction: row-reverse;
		> .card-filter-panel {
			display: none;
		}
		> .card-info-panel {
			display: none;
		}
	}
	.card-filter-panel {
		flex: 1;
	}
	.card-info-panel {
		flex: 3;
	}
	.card-preview-panel {
		flex: 2;
		position: relative;
	}
}

.control-board {
	.control-zoom {
		display: grid;
		grid-template-columns: 549px 1fr;
		> span {
			display: flex;
			align-self: center;
			margin-left: 5px;
		}
	}
}

#portal {
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(var(--zoom-ratio)) translateY(var(--translate-percent)) translateX(var(--translate-percent));
}
.card-preview {
	display: inline-block;
	top: 0;
	left: 0;
	transform: scale(var(--zoom-ratio)) translateY(var(--translate-percent)) translateX(var(--translate-percent));
	// margin: 5px;
	position: relative;
	width: 549px;
	height: 800px;
	z-index: 10;
	.preview {
		position: absolute;
		overflow: hidden;
		z-index: 100;
	}
	.preview-frame {
		top: 0;
		left: 0;
		width: 549px;
		height: 800px;
		z-index: 1;
	}
	.preview-name {
		font-family: MatrixRegularSmallCaps;
		top: 30.56px;
		left: 40.52px;
		width: 413.50px;
		height: 57.17px;
		letter-spacing: 0.01em;
		> .textbox-title {
			bottom: 0;
			top: unset;
		}
	}
	.preview-attribute {
		top: 37.00px;
		left: 458.00px;
		width: 52.00px;
		height: 52.00px;
		.card-attribute {
			width: 100%;
			height: 100%;
		}
	}
	.preview-pendulum-effect {
		position: absolute;
		overflow: hidden;
		z-index: 100;
		font-family: MatrixBook;
		letter-spacing: -0.001em;
	}
	.preview-scale-number {
		position: absolute;
		width: 39.84px;
		height: 44.68px;
		z-index: 300;
		font-family: MatrixBoldSmallCaps;
		line-height: 1.2;
		font-size: 38.4px;
		font-variant: small-caps;
		text-align: center;
		&.size-small {
			top: 556.37px;
		}
		&.size-medium {
			top: 542.19px;
		}
		&.left-scale {
			left: 37.14px;
		}
		&.right-scale {
			left: 472.69px
		}
	}
	.preview-link-marker {
		top: 0;
		left: 0;
		width: 549px;
		height: 800px;
	}
	.preview-picture {
		top: 147px;
		left: 67px;
		width: 416px;
		height: 416px;
		&.picture-pendulum {
			top: 144px;
			left: 38px;
			width: 474px;
			height: 470px;
		}
		.canvas-container {
			position: relative;
			width: 100%;
			padding-top: 100%;
		.crop-canvas {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	}
	.preview-st-sub-family {
		top: 103px;
		left: 58px;
		height: 26px;
		width: 433px;
		text-align: right;
		overflow: visible;
	}
	.preview-star {
		top: 99.00px;
		left: 58.00px;
		height: 34px;
		width: 434px;
		text-align: right;
		&.preview-star-oversize {
			left: 0;
			width: 549px;
		}
	}
	.preview-picture {
		top: 147.00px;
		left: 67.00px;
		height: 416.00px;
		width: 416.00px;
	}
	.preview-type-ability {
		font-family: ITCStoneSerifMedium;
		font-variant: small-caps;
		font-weight: bold;
		opacity: 0.95;
	}
	.preview-effect {
		position: absolute;
		overflow: hidden;
		z-index: 100;
		&.flavor-text {
			font-family: ITCStoneSerifMedium;
			letter-spacing: 0.02em;
		}
		&.textbox-container-monster-effect {
			font-family: MatrixBook;
			opacity: 0.97;
		}
		&.preview-effect-small {
			&.textbox-container-monster-effect {
				letter-spacing: -0.005em;
			}
		}
	}
	.textbox-container-st-effect {
		font-family: MatrixBook;
		opacity: 0.97;
	}
	.preview-atk {
		font-family: MatrixBoldSmallCaps;
		opacity: 0.95;
		top: 726.84px;
		left: 343.51px;
		width: 49.94px;
		height: 23.68px;
	}
	.preview-def {
		font-family: MatrixBoldSmallCaps;
		opacity: 0.95;
		top: 726.84px;
		left: 454.93px;
		width: 49.94px;
		height: 23.68px;
	}
	.preview-link {
		bottom: 0;
		right: 0;
		width: 61px;
		height: 69px;
	}
}

.hidden {
	visibility: hidden;
}

.hide-selected {
	display: none;
}