html {
    background-color: #ffffff;
    min-width: 600px;
    --card-width: 813px;
    --card-height: 1185px;
    --resize-ratio: 0.7;
    --translate-ratio: -15%;

    --color-dim: #9b9b9b;
    --color: #d3d3d6;
    --color-heavy: #eeeeee;
    --color-vendor: #d0f0ff;

    --main-disabled: #ffffff66;

    --main-level-5: #505050;
    --main-level-4: #5b626e;
    --sub-level-4: #707681;
    --main-level-3: #4e4e53;
    --sub-level-3: #68686b;
    --main-level-1: #333333;
    --main-level-1-active: #333333;
    --sub-level-1: #222222;

    --focus: #70d9ff;
    --main-link: #27a9e6;
    --sub-link: #2badea;
    --main-active: #1890ff;
    --sub-active: #40a9ff;
    --main-slider: #009ce0;
    --sub-slider: #91d5ff;
    --main-primary: #0093bd;
    --sub-primary: #00aad4;
    --main-secondary: #0b89c6;
    --sub-secondary: #0c8ac6;
    --main-tertiary: #5e85c9;
    --sub-tertiary: #5e85e9;
    --main-red-scale: #ff4d4f;
    --sub-red-scale: #ff6f6f;
    --main-blue-scale: #096dd9;
    --sub-blue-scale: #3b9dff;

    --main-danger: #e95e5e;
    --sub-danger: #ff6f6f;
    --main-info: #3a9eff;
    --sub-info: #3b9dff;

    // Margin / Padding
    --spacing-px: 1px;
    --spacing-xxs: 2px;
    --spacing-xs: 5px;
    --spacing-sm: 7px;
    --spacing: 10px;
    --spacing-lg: 15px;
    --spacing-xl: 18px;
    --spacing-2xl: 20px;
    --spacing-antd: 11px;

    // Font
    --ff-ocg: 'DFHSGothic-W3-WIN-RKSJ-H';
    --fs-xs: 9px;
    --fs-sm: 12px;
    --fs: 14px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 30px;
    --fs-4xl: 40px;
    --fs-ocg: 15px;

    // Border Radius
    --br: 2px;
    --br-lg: 4px;
    --br-xl: 8px;

    // Border Width / Outline Width
    --bw: 1px;
    --bw-lg: 2px;

    // Box Shadow
    --bs-1: 0 0 0 1px #222222;
    --bs-button: 0 0 2px 0 #333333;
    --bs-block: 0 0 1px 1px #222222;
    // --bs-input: 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --bs-input: none;

    // Text Shadow
    --ts: 0 1px #222;

    // Size
    --width-label: 105px;

    h1 {
        color: var(--color-heavy);
        font-size: var(--fs-2xl);
    }
    h2 {
        line-height: 1;
        font-size: var(--fs-lg);
        color: var(--color-vendor);
        padding: var(--spacing-sm) 0;
        &:first-child {
            padding-top: 0;
        }
    }
    h3 {
        color: var(--color);
    }
    
    ul {
        padding-inline-start: var(--spacing-2xl);
        margin-block-end: 0;
        li {
            line-height: 1.5;
        }
    }

    .center {
        text-align: center;
    }
}
hr {
    margin: 0;
    border: none;
    border-top: var(--bw) solid var(--sub-level-1);
}
#app {
    width: 100%;
    min-height: 100vh;
    padding: var(--spacing) 0;
    overflow-y: scroll;
    position: relative;
}
.app-container {
    display: flex;
    max-width: 1600px;
    background-color: #484848;
    box-shadow: 0 0 2px 2px #202020;
    margin: auto;
    border-radius: var(--br-xl);
    &.app-container-export {
        flex-direction: row-reverse;
        > .card-filter-panel {
            display: none;
        }
        > .card-info-panel {
            display: none;
        }
    }
    .card-filter-panel {
        flex: 0 0 0;
    }
    .card-info-panel {
        flex: 3;
        padding: var(--spacing);
        color: var(--color-heavy);
        text-shadow: var(--ts);
        position: relative;
    }
    .card-preview-panel {
        flex: 0 0 580px;
        position: relative;
        overflow: hidden;
        .card-canvas-container {
            position: relative;
            display: block;
            width: calc(var(--card-width) * var(--resize-ratio));
            height: calc(var(--card-height) * var(--resize-ratio));
            margin: var(--spacing);
            margin-top: 0;
        }
        &.export-tainted {
            .data-button-panel {
                color: var(--main-danger);
            }
        }
        &.export-normal {
            .data-button-panel {
                color: var(--main-info);
            }
        }
        #save-button-tainted {
            text-align: center;
            justify-content: space-around;
        }
    }
}

.control-board {
    .control-zoom {
        display: grid;
        grid-template-columns: var(--card-width) 1fr;
        > span {
            display: flex;
            align-self: center;
            margin-left: var(--spacing-xs);
        }
    }
}

.hidden {
    visibility: hidden;
}
.input-ocg {
    input,
    textarea.ant-input {
        font-size: var(--fs-ocg);
        line-height: 1.4666;
        font-family: var(--ff-ocg);
    }
}

/** Avoid annoying user agent style, should have use css reset? */
input:-internal-autofill-selected {
    background-color: unset !important;
}

:focus-visible {
    outline: 2px solid var(--focus);
}

/** Custom Scrollbar **/
/* width */
::-webkit-scrollbar {
    width: var(--spacing);
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #666677;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555566;
}

/** Slow animation for download button **/
.data-button-panel .button-label {
    background: linear-gradient(135deg, #22c1c3 0%, #298ae9 50%, #22c1c3 100%);
    background-size: 300% 300%;
    animation: SlowPulsating ease infinite 10s;
    &:hover {
        background: linear-gradient(90deg, #32d1d3 0%, #399af9 50%, #32d1d3 100%);
    }
}
@keyframes SlowPulsating {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card-lightbox-overlay {
    .ant-modal {
        max-width: unset;
    }
    .ant-modal-close-x {
        display: none;
    }
    .ant-modal-content .ant-modal-body {
        --lightbox-padding: var(--spacing-lg);
        padding: var(--lightbox-padding);
        width: calc(var(--card-width) + var(--lightbox-padding) * 2);
    }
}
