.app-container {
	display: flex;
	--zoom-ratio: 0.8;
	--translate-percent: -12.5%;
	.card-filter-panel {
		flex: 1;
	}
	.card-info-panel {
		flex: 2;
	}
	.card-preview-panel {
		flex: 2;
		position: relative;
	}
}

.card-info-panel {
	.card-info-sub-family {
		height: 3em;
	}
}

.control-board {
	.control-zoom {
		display: grid;
		grid-template-columns: 1fr 100px;
		> span {
			display: flex;
			align-self: center;
			margin-left: 5px;
		}
	}
}

#portal {
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(var(--zoom-ratio)) translateY(var(--translate-percent)) translateX(var(--translate-percent));
}
.card-preview {
	top: 0;
	left: 0;
	transform: scale(var(--zoom-ratio)) translateY(var(--translate-percent)) translateX(var(--translate-percent));
	margin: 5px;
	position: relative;
	width: 548.93pt;
	height: 799.9pt;
	.preview {
		position: absolute;
		overflow: hidden;
		z-index: 100;
	}
	.preview-frame {
		top: 0;
		left: 0;
		width: 548.93pt;
		height: 799.9pt;
		z-index: 1;
	}
	.preview-name {
		font-family: MatrixRegularSmallCaps;
		top: 30.56pt;
		left: 39.73pt;
		width: 415.43pt;
		height: 57.16pt;
		letter-spacing: 0.01em;
		> .textbox-title {
			bottom: 0;
			top: unset;
		}
	}
	.preview-attribute {
		top: 37.00pt;
		left: 457.94pt;
		width: 51.99pt;
		height: 51.99pt;
		.card-attribute {
			width: 100%;
			height: 100%;
		}
	}
	.preview-picture {
		top: 146.98pt;
		left: 66.99pt;
		width: 415.95pt;
		height: 415.95pt;
	}
	.preview-sub-family {
		top: 98.99pt;
		left: 57.99pt;
		height: 26pt;
		width: 432.95pt;
		text-align: right;
	}
	.preview-star {
		top: 98.99pt;
		left: 57.99pt;
		height: 34pt;
		width: 433.95pt;
		text-align: right;
		&.preview-star-oversize {
			left: 0;
			width: 548.93pt;
		}
	}
	.preview-picture {
		top: 146.98pt;
		left: 66.99pt;
		height: 415.95pt;
		width: 415.95pt;
	}
	.preview-type-ability {
		font-family: ITCStoneSerifMedium;
		font-variant: small-caps;
		font-weight: bold;
		opacity: 0.95;
		left: 41.96pt;
		width: 468.13pt;
		&.preview-type-ability-normal {
			top: 601.95pt;
			height: 24.76pt;
		}
		&.preview-type-ability-small {
			top: 601.72pt;
			height: 23.32pt;
		}
		.type-ability-slash {
			display: inline-block;
			font-style: italic;
		}
		.normal-slash {
			font-size: 19.69pt;
			transform: translateY(-0.98pt);
		}
		.small-slash {
			font-size: 18.05pt;
			transform: translateY(-1.31pt);
		}
		.type-ability-bracket {
			display: inline-block;
		}
		.normal-bracket {
			font-size: 19.69pt;
			transform: translateY(-1.64pt);
		}
		.small-bracket {
			font-size: 18.7pt;
			transform: translateY(-1.64pt);
		}
		.normal-space {
			font-size: 13.13pt;
			letter-spacing: -0.075em;
		}
		.small-space {
			font-size: 8.51pt;
			letter-spacing: -0.075em;
		}
	}
	.preview-effect {
		font-family: MatrixBook;
		opacity: 0.97;
		top: 624.33pt;
		left: 43.88pt;
		width: 464.29pt;
		height: 103.35pt;
	}
	.preview-atk {
		font-family: MatrixBoldSmallCaps;
		opacity: 0.95;
		top: 726.75pt;
		left: 343.47pt;
		width: 49.93pt;
		height: 23.67pt;
	}
	.preview-def {
		font-family: MatrixBoldSmallCaps;
		opacity: 0.95;
		top: 726.75pt;
		left: 454.87pt;
		width: 49.93pt;
		height: 23.67pt;
	}
}

.hidden {
	visibility: hidden;
}

.hide-selected {
	display: none;
}