.reduced-color-motion {
    --focus: #bbbbff;
    --color-vendor: #e0e0ff;
    --sub-level-1: #333333;
    --main-link: #8989bb;
    --sub-link: #9b9bbf;
    --main-level-1-active: #444455;
    --main-active: #8888aa;
    --sub-active: #8888bb;
    --main-slider: #6666aa;
    --sub-slider: #ccccff;
    --main-primary: #6363ad;
    --sub-primary: #7777d4;
    --main-secondary: #8b8bc6;
    --sub-secondary: #8a8ac6;
    --main-tertiary: #555599;
    --sub-tertiary: #5555a9;
    --main-select: #2e2e40;
    --sub-select: #36364c;
    --bs-1: 0 0 0 1px #333333;

    .icon-button {
        border: var(--bw) solid var(--main-level-4);
    }
    .data-button-panel {
        .button-label {
            background: linear-gradient(135deg, #6363ad 0%, #8888a9 50%, #6363ad 100%);
            animation: none;
            &:hover {
                background: linear-gradient(90deg, #7373bd 0%, #9898b9 50%, #7373bd 100%);
            }
        }
        .resolution-option {
            &:hover {
                background: #7373bd;
            }
        }
    }
    .app-container {
        .imexport {
            .secondary-button {
                border-left: var(--bw) solid var(--sub-secondary);
            }
        }
    }
    .standalone-addon {
        --main-active: #7272ff;
    }
    .card-info-panel .pendulum-frame-input {
        .card-layout-preview-container,
        .pendulum-frame-label {
            border-color: var(--main-level-4);
        }
        .pendulum-frame-info-block {
            border: none;
            border-left: var(--bw) solid var(--sub-level-1);
        }
        .frame-info-block-label {
            border: var(--bw) solid var(--main-level-4);
            border-left: none;
        }
        .anticon {
            transform: translateY(1px); // Alignment
            border: none;
        }
    }
    .link-marker-picker {
        &.chooser-active {
            .link-marker-reset,
            .link-marker-button {
                &:hover {
                    background-color: #222236;
                }
            }
        }
    }
    .radio-train.format-radio {
        .ant-radio-button-wrapper-checked {
            &.ocg-button {
                color: var(--main-red-scale);
                background-color: var(--main-level-1-active);
                border-color: var(--main-active);
                &:not([class*=" ant-radio-button-wrapper-disabled"]).ant-radio-button-wrapper:first-child {
                    border-right-color: var(--main-active);
                }
                &:not(.ant-radio-button-wrapper-disabled):first-child {
                    border-color: var(--main-active);
                }
                &:hover {
                    color: var(--sub-red-scale);
                    background-color: var(--main-level-1-active);
                }
            }
            &.tcg-button {
                color: var(--main-blue-scale);
                background-color: var(--main-level-1-active);
                border-color: var(--main-active);
                &:hover {
                    color: var(--sub-blue-scale);
                    background-color: var(--main-level-1-active);
                }
            }
        }
        .ocg-button {
            color: var(--main-red-scale);
            &:hover {
                color: var(--sub-red-scale);
            }
        }
        .tcg-button {
            color: var(--main-blue-scale);
            &:hover {
                color: var(--sub-blue-scale);
            }
        }
    }
}
