@media only screen and (max-width: 1600px) {
	#app {
		padding: 0;
		padding-bottom: 20px;
		.card-info-panel {
			min-height: 100vh;
			.two-column-input-group {
				grid-template-areas:
					"type-input type-input"
					"condense-input condense-input"
					"input-helper help-button";
			}
		}
	}
	.app-container {
		border-radius: 0;
		.affiliation {
			border-radius: 0 0 0 8px;
		}
		.password-input,
		.checkbox-input {
			grid-column: span 2;
		}
		.card-image-source-input-title,
		.radio-train:not(.frame-radio) {
			.ant-radio-group,
			.radio-train-input-group {
				flex-wrap: wrap;
				row-gap: 2px;
				column-gap: 2px;
				box-shadow: none;
				.ant-radio-button-wrapper {
					flex: 1 1 auto;
					border-radius: 0;
					border-left-width: 1px;
					text-align: center;
				}
			}
		}
		.card-image-source-input-title .ant-radio-group {
			display: inline-flex;
		}
		.checkbox-input {
			.input-terminal span {
				padding-right: 0;
			}
		}
	}
}

@media only screen and (max-width: 1368px) {
	#app {
		.card-info-panel {
			.two-column-input-group {
				grid-template-areas:
					"type-input input-helper"
					"condense-input help-button";
				&.variant-tcg {
					.type-ability-input {
						grid-column: span 2;
					}
				}
			}
		}
	}
	.app-container {
		--resize-ratio: 0.6;
		--translate-ratio: -20%;
		.card-preview-panel {
			flex: 0 0 500px;
		}
		.name-color-input .ant-radio-group label {
			display: block;
			.ant-radio-label {
				display: inline-block;
				width: 100%;
			}
		}
		.password-input,
		.checkbox-input {
			grid-column: span 1;
		}
		.name-color-input {
			.style-picker {
				flex-wrap: wrap;
				row-gap: 5px;
				column-gap: 5px;
			}
			.anticon-caret-down,
			.anticon-caret-up {
				display: none;
			}
			.picker-dropdown {
				margin: 0;
				margin-left: 0;
			}
		}
		.card-info-panel {
			margin-left: 10px;
			border-left: 1px solid var(--main-level-4);
			.main-info {
				flex-wrap: wrap;
				flex-direction: column-reverse;
				.main-info-first {
					width: 100%;
					.radio-train-input-group {
						width: 100%;
					}
				}
				.main-info-second {
					flex: 1;
					align-self: self-end;
					width: 100%;
				}
				.card-image-cropper {
					display: grid;
					grid-template-columns: 1fr max-content;
					grid-template-rows: max-content 1fr;
					grid-template-areas:
						"source cropper"
						"finish cropper";
					align-items: start;
					.art-finish-checkbox {
						grid-area: finish;
					}
					.card-image-source-input {
						grid-area: source;
					}
					.card-cropper {
						grid-area: cropper;
						max-width: 375px;
						height: unset;
						position: relative;
					}
				}
			}
		}
	}
	.formattting-guide-overlay {
		.panel-figure {
			display: block;
		}
		.image-with-caption {
			display: inline-block;
			max-width: 617px; // Hard with for guide image
		}
		.image-with-caption + .image-with-caption {
			margin-top: 0.5rem;
		}
	}
}

@media only screen and (max-width: 1200px) {
	.app-container {
		.password-input,
		.checkbox-input {
			grid-column: span 2;
		}
		.card-info-panel {
			.main-info {
				.main-info-second {
					align-self: self-end;
				}
			}
			.image-input-train label span:nth-child(2) {
				width: 0;
			}
		}
		.card-image-cropper {
			.ant-input-group-addon {
				text-align: left;
			}
			.card-image-source-input-title,
			.art-finish-checkbox {
				flex-wrap: wrap;
			}
		}
	}
}

@media only screen and (max-width: 1068px) {
	.app-container {
		.card-info-panel {
			.main-info {
				.card-image-cropper {
					display: flex;
					> * {
						width: 100%;
					}
				}
				.card-cropper {
					margin: auto;
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	#app {
		.card-info-panel {
			.two-column-input-group {
				grid-template-areas:
					"type-input type-input"
					"condense-input condense-input"
					"input-helper help-button";
			}
		}
	}
	.app-container {
		--resize-ratio: 0.5;
		--translate-ratio: -25%;
		.card-preview-panel {
			flex: 0 0 415px;
		}
		.card-info-panel {
			.main-info {
				.field-title {
					width: 105px;
				}
				.art-finish-checkbox > .ant-input-group-addon {
					flex: 0 0 105px;
					text-align: right;
				}
			}
		}
	}
	.app-container .card-preview-panel {
		.card-canvas-group {
			margin: 0;
		}
	}
	.app-header .app-description .app-contribution {
		.template-creator,
		.app-creator {
			grid-column: -1 / 1;
			white-space: normal;
		}
	}
}

@media only screen and (max-width: 860px) {
	#app {
		.card-info-panel {
			.two-column-input-group {
				grid-template-areas:
					"type-input input-helper"
					"condense-input help-button";
				&.variant-tcg {
					.type-ability-input {
						grid-column: span 2;
					}
				}
			}
		}
	}
	.app-container {
		--resize-ratio: 0.6;
		--translate-ratio: -20%;
		flex-wrap: wrap;
		.app-header {
			position: relative;
			width: 100%;
			z-index: 1;
			border-radius: 3px 0 3px 3px;
		}
		.affiliation {
			right: 10px;
			border-radius: 0 3px;
			transform: translateY(-100%);
			border-radius: 3px 3px 0 0;
			box-shadow: 0 0 0 1px #212121;
		}
		.card-info-panel {
			margin-left: 0;
			border-left: none;
			.name-style-id-input .name-id-input {
				display: grid;
			}
			.main-info {
				.card-image-cropper {
					display: grid;
				}
			}
		}
		.card-info-panel,
		.card-preview-panel {
			flex: 1 1 auto;
		}
		.card-canvas-container {
			left: 50%;
			transform: translateX(-50%);
		}
		.card-preview-panel {
			min-height: unset;
			.export-button {
				padding-right: 10px;
			}
		}
		.card-info-panel {
			padding-top: 0;
		}
		.password-input,
		.checkbox-input {
			grid-column: span 1;
		}
	}
}
