@media only screen and (max-width: 1600px) {
	#app {
		padding: 0;
		.card-info-panel {
			min-height: 100vh;
			.post-pendulum-input {
				grid-template-areas:
					"type-input type-input"
					"condense-input condense-input"
					"input-helper help-button";
			}
		}
	}
	.app-container {
		border-radius: 0;
		.affiliation {
			border-radius: 0 0 0 var(--br-xl);
		}
		.checkbox-input {
			grid-column: span 2;
		}
		.card-image-source-input-title,
		.checkbox-train:not(.frame-radio),
		.radio-train:not(.frame-radio) {
			.ant-radio-group,
			.checkbox-train-input-group,
			.radio-train-input-group {
				flex-wrap: wrap;
				row-gap: var(--spacing-xxs);
				column-gap: var(--spacing-xxs);
				box-shadow: none;
				.ant-radio-button-wrapper {
					flex: 1 1 auto;
					border-radius: 0;
					border-left-width: var(--bw);
					text-align: center;
				}
			}
		}
		.card-image-source-input-title .ant-radio-group {
			display: inline-flex;
		}
		.checkbox-input {
			.input-terminal span {
				padding-right: 0;
			}
		}
	}
}

@media only screen and (max-width: 1368px) {
	#app {
		.card-info-panel {
			.post-pendulum-input {
				grid-template-areas:
					"type-input input-helper"
					"condense-input help-button";
				&.variant-tcg {
					.type-ability-input {
						grid-column: span 2;
					}
				}
			}
		}
	}
	.app-container {
		--resize-ratio: 0.6;
		--translate-ratio: -20%;
		.card-preview-panel {
			flex: 0 0 500px;
		}
		.text-style-input .ant-radio-group label {
			.ant-radio-label {
				display: inline-block;
			}
		}
		.name-style-option-break {
			display: block;
			width: 100%;
		}
		.checkbox-input {
			grid-column: span 1;
		}
		.text-style-input {
			.style-picker {
				display: flex;
				margin-top: var(--spacing-xs);
				flex-wrap: wrap;
				row-gap: var(--spacing-sm);
				column-gap: var(--spacing-sm);
			}
			.anticon-caret-down,
			.anticon-caret-up {
				display: none;
			}
			.picker-dropdown {
				margin: 0;
				margin-left: 0;
			}
			.name-style-option-label {
				display: inline-block;
				height: 100%;
			}
		}
		.card-info-panel {
			margin-left: var(--spacing);
			border-left: var(--bw) solid var(--main-level-4);
			.main-info {
				flex-wrap: wrap;
				flex-direction: column-reverse;
				.main-info-first {
					width: 100%;
					.radio-train-input-group {
						width: 100%;
					}
				}
				.main-info-second {
					flex: 1;
					align-self: self-end;
					width: 100%;
				}
				.card-image-cropper {
					display: grid;
					grid-template-columns: 1fr max-content;
					grid-template-rows: max-content 1fr;
					grid-template-areas:
						"source cropper"
						"finish cropper";
					align-items: start;
					.art-finish-checkbox {
						grid-area: finish;
					}
					.card-image-source-input {
						grid-area: source;
						grid-template-columns: 1fr;
					}
					.card-cropper {
						grid-area: cropper;
						max-width: 375px;
						height: unset;
						position: relative;
					}
					.link-marker-chooser {
						margin-right: 0;
						margin-bottom: var(--spacing-sm);
					}
				}
			}
		}
	}
	.formattting-guide-overlay {
		.panel-figure {
			display: block;
		}
		.image-with-caption {
			display: inline-block;
			max-width: 617px; // Hard with for guide image
		}
		.image-with-caption + .image-with-caption {
			margin-top: var(--spacing-sm);
		}
	}
}

@media only screen and (max-width: 1200px) {
	.app-container {
		.checkbox-input {
			grid-column: span 2;
		}
		.card-info-panel {
			.main-info {
				.main-info-second {
					align-self: self-end;
				}
			}
			.fill-input-train label span:nth-child(2) {
				width: 0;
			}
		}
		.card-image-cropper {
			.ant-input-group-addon {
				text-align: left;
			}
			.card-image-source-input-title,
			.art-finish-checkbox {
				flex-wrap: wrap;
			}
		}
	}
}

@media only screen and (max-width: 1068px) {
	.app-container {
		.card-info-panel {
			.main-info {
				.card-image-cropper {
					display: flex;
					> * {
						width: 100%;
					}
				}
				.card-cropper {
					margin: auto;
				}
				.card-image-cropper {
					.card-image-source-input {
						grid-area: source;
						grid-template-columns: max-content 1fr;
					}
					.link-marker-chooser {
						margin-right: var(--spacing-sm);
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.app-header {
		.header-language h1 {
			grid-column: span 3;
		}
		.app-description .app-contribution {
			.template-creator,
			.app-creator {
				grid-column: -1 / 1;
				white-space: normal;
				margin-bottom: var(--spacing-xxs);
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	#app {
		.card-info-panel {
			.post-pendulum-input {
				grid-template-areas:
					"type-input type-input"
					"condense-input condense-input"
					"input-helper help-button";
			}
		}
	}
	.app-container {
		--resize-ratio: 0.5;
		--translate-ratio: -25%;
		.card-preview-panel {
			flex: 0 0 415px;
			.primary-button {
				padding: 0;
			}
			.button-label {
				/** Alginment with resolution dropdown) */
				--resolution-dropdown-width: 45px;
				padding: 0 calc(var(--resolution-dropdown-width) + var(--spacing-sm)) 0 var(--spacing-sm);
			}
			.imexport {
				flex: 0 0 185px;
				grid-template-columns: 1fr max-content var(--spacing-xs) 1fr max-content;
			}
			.data-button-panel {
				column-gap: var(--spacing-xs);
			}
		}
		.card-info-panel {
			.main-info {
				.field-title {
					width: var(--width-label);
				}
				.art-finish-checkbox > .ant-input-group-addon {
					flex: 0 0 var(--width-label);
					text-align: right;
				}
			}
		}
	}
	.app-container .card-preview-panel {
		.card-canvas-group {
			margin: 0;
		}
	}
}

@media only screen and (max-width: 860px) {
	#app {
		.card-info-panel {
			.header-language h1 {
				grid-column: span 1;
			}
			.post-pendulum-input {
				grid-template-areas:
					"type-input input-helper"
					"condense-input help-button";
				&.variant-tcg {
					.type-ability-input {
						grid-column: span 2;
					}
				}
			}
		}
	}
	.app-container {
		--resize-ratio: 0.6;
		--translate-ratio: -20%;
		flex-wrap: wrap;
		.card-preview-panel {
			margin-bottom: var(--spacing-2xl);
		}
		.app-header {
			position: relative;
			width: 100%;
			z-index: 1;
			border-radius: var(--br) 0 var(--br) var(--br);
		}
		.affiliation {
			right: var(--spacing);
			border-radius: 0 var(--br);
			transform: translateY(-100%);
			border-radius: var(--br) var(--br) 0 0;
			box-shadow: var(--bs-1);
		}
		.card-info-panel {
			margin-left: 0;
			border-left: none;
			.name-style-id-input .name-id-input {
				display: grid;
			}
			.main-info {
				.card-image-cropper {
					display: grid;
				}
			}
		}
		.card-info-panel,
		.card-preview-panel {
			flex: 1 1 auto;
		}
		.card-canvas-container {
			left: 50%;
			transform: translateX(-50%);
		}
		.card-preview-panel {
			min-height: unset;
			.data-button-panel {
				padding-right: var(--spacing);
			}
		}
		.card-info-panel {
			padding-top: 0;
		}
		.checkbox-input {
			grid-column: span 1;
		}
	}
	.layout-picker-overlay {
		.overlay-no-background-image {
			i {
				width: 245px; // Alignemnt
			}
			.card-image-cropper {
				.card-image-source-input {
					width: 245px; // Alignemnt
				}
			}
		}
		i {
			width: 375px;
		}
		.card-image-cropper {
			grid-template-columns: 1fr;
			gap: var(--spacing);
			.card-image-source-input {
				width: 375px;
				margin-right: 0;
				padding-right: 0;
				border-right: none;
			}
			.ant-popover-inner-content {
				width: 375px;
			}
		}
		.layout-picker-panel {
			display: flex;
			gap: var(--spacing);
			.radio-train-input-group {
				flex-wrap: wrap;
				.ant-radio-button-wrapper {
					flex: 1 0 150px;
				}
			}
		}
	}
}
