.card-attribute,
.card-picture,
.card-frame,
.border-frame {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
}

.pendulum-frame-overlay,
.card-frame {
	position: absolute;
	top: 0;
	left: 0;
}

.card-frame-pendulum {
	z-index: 200;
}
.border-frame {
	z-index: 300;
}